/*--------

VARIABLES ENDS HERE

---------*/

// Color Codes
$dark-pink: #E8656B;
$light-pink: #EB787D;
$text-grey:#7F7F7F;
$gray-2: #b0b0b0;
$white2: #F4F4F4;
$white-grey: #eae8e8f2;
$button-arrow-grey: #b0b0b0;
$main-font: 'Montserrat',
sans-serif;