@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
/*--------

VARIABLES ENDS HERE

---------*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pink-btn {
  background-color: #E8656B;
  display: inline-block;
  padding: 14px 62px;
  color: white;
  text-decoration: none;
}
.pink-btn:hover {
  background-color: #EB787D;
}

.plane-btn {
  display: inline-block;
  padding: 14px 62px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}
.plane-btn i {
  color: #E8656B;
  font-weight: 500;
  font-size: 20px;
}

.arrow-btn {
  margin-left: 20px;
  background-color: #F4F4F4;
  padding: 16px 30px;
  border: none;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
.arrow-btn:hover {
  cursor: pointer;
  background-color: rgba(234, 232, 232, 0.9490196078);
}
.arrow-btn .fa-angle-right {
  padding-left: 20px;
  color: #b0b0b0;
}

header {
  display: flex;
  padding: 2% 4%;
  padding-right: 11%;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
header .logo {
  padding-left: 5%;
  letter-spacing: 6px;
  color: #E8656B;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  width: 40%;
}
header .nav-items {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
header .nav-items li {
  margin: 0 22px;
  font-weight: 500;
  font-size: 20px;
  font-variant: small-caps;
  color: #7F7F7F;
  cursor: pointer;
}
header .nav-items li:last-child {
  margin-right: 0;
}
header .nav-items li i {
  color: black;
}

.top-section {
  display: flex;
}

section {
  padding: 2% 4%;
}
section .text {
  padding: 10% 5% 2%;
  width: 70%;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  position: relative;
}
section .text p {
  color: #b0b0b0;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 0 0 20px 80px;
  letter-spacing: 6px;
  position: relative;
}
section .text p::before {
  position: absolute;
  content: "";
  background-color: #b0b0b0;
  width: 60px;
  height: 1px;
  left: 0;
  top: 25%;
}
section .text h1 {
  font-size: 68px;
  font-weight: 600;
  line-height: 0.9;
  margin-bottom: 30px;
}
section .text .arrows {
  margin-top: 120px;
}
section .text .arrows img {
  width: 80px;
  margin: 0 6px;
}
section .text .arrows img:nth-child(1) {
  transform: rotate(180deg);
}
section .text .left-arrow,
section .text .right-arrow {
  padding: 4px 10px;
  border-radius: 8px;
}
section .text .left-arrow:hover,
section .text .right-arrow:hover {
  opacity: 0.5;
  cursor: pointer;
}
section .wrap {
  width: 42%;
  overflow: hidden;
  border-radius: 300px 300px 0 0;
  margin: 0% 5% 0 0;
}
section .wrap .image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 300px 300px 0 0;
  transition: all 0.5s;
  transform-origin: 50px 50px;
}
section .wrap .image:hover {
  transform: scale(1.05);
}

.rotating-text-container {
  position: absolute;
  display: flex;
  top: 20%;
  right: 36%;
  align-items: center;
  width: 160px;
  height: 160px;
  justify-content: center;
}
.rotating-text-container:hover .circle-text {
  transform: rotate(40deg);
  cursor: pointer;
}
.rotating-text-container:hover .arrow-short {
  -webkit-clip-path: polygon(0 30%, 0 0, 100% 0, 100% 100%, 70% 100%);
          clip-path: polygon(0 30%, 0 0, 100% 0, 100% 100%, 70% 100%);
}
.rotating-text-container .circle-text {
  position: relative;
  transition: all 0.5s ease-in-out;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  color: #E8656B;
  font-weight: 800;
  font-size: 16px;
}
.rotating-text-container .circle-text span {
  position: absolute;
  left: 80px;
  transform-origin: 0 80px;
  text-transform: uppercase;
}
.rotating-text-container .arrow-short {
  position: absolute;
  -webkit-clip-path: polygon(0% 2%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 2%, 100% 0%, 100% 100%, 0% 100%);
  transform: rotate(-40deg);
  transition: -webkit-clip-path 1s;
  transition: clip-path 1s;
  transition: clip-path 1s, -webkit-clip-path 1s;
}

/* --- USP column -----*/
.USP-catagories {
  width: 100%;
  padding: 10% 7%;
}
.USP-catagories .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.USP-catagories .row .col {
  flex: 1 0 18%;
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
}
.USP-catagories .row .USP-name {
  color: black;
  text-align: center;
  padding: 10px;
}
.USP-catagories .row .USP-svg {
  display: block;
  text-align: center;
}

.popular-products {
  width: 100%;
  padding: 7% 8%;
  /* Container for flexboxes */
  /* Create four equal columns */
}
.popular-products .popular-products-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.popular-products .popular-products-column {
  flex: 10%;
  padding: 14px;
  font-family: "Montserrat", sans-serif;
  word-spacing: 6px;
}
.popular-products .popular-products-column a,
.popular-products .popular-products-column a:visited {
  text-decoration: none !important;
  color: black;
}
.popular-products .popular-products-column .product-image {
  width: 100%;
  height: 310px;
  pointer-events: none;
  cursor: pointer;
}
.popular-products .popular-products-column .product-name {
  font-weight: 600;
  font-size: 19px;
  padding: 8px 0px 0px 0px;
}
.popular-products .popular-products-column .product-cat {
  font-weight: 400;
  font-size: 16px;
  padding: 3px 0px 0px 0px;
  color: #b0b0b0;
}
.popular-products .popular-products-column .product-price {
  font-weight: 900;
  font-size: 22px;
  padding: 3px 0px 0px 0px;
  color: #EB787D;
  text-transform: capitalize;
}
.popular-products .popular-products-column .product-price span {
  font-weight: 400;
  font-size: 13px;
  padding: 3px 0px 0px 0px;
  color: #b0b0b0;
  text-decoration: line-through;
}

.section-top {
  display: flex;
  align-items: center;
}

.section-heading {
  text-transform: uppercase;
  font-size: 37px;
  letter-spacing: 4px;
  font-family: "Montserrat", sans-serif;
  padding: 20px 20px 20px 13px;
}

.shop-by-cat {
  padding: 7% 8%;
}
.shop-by-cat .categories-images {
  display: flex;
}
.shop-by-cat .categories-images .hero-category {
  position: relative;
  width: 50%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 14px;
}
.shop-by-cat .categories-images .hero-category button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.shop-by-cat .categories-images .cake-categories {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
.shop-by-cat .categories-images .cake-categories .cake-cat {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 30%;
  margin: 14px;
  position: relative;
}
.shop-by-cat .categories-images .cake-categories .cake-cat button {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.shop-by-occassion {
  width: 100%;
  padding: 7% 8%;
}
.shop-by-occassion .occassion-btn {
  width: 100%;
  word-spacing: 15px;
  text-align: center;
  line-height: 4;
  padding-top: 20px;
}
.shop-by-occassion .occassion-btn button {
  border: none;
  border-radius: 22px;
  font-size: 20px;
  padding: 10px 30px;
  background-color: #F4F4F4;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.shop-by-occassion .occassion-btn button:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

/*--------

VARIABLES ENDS HERE

---------*/
@media screen and (max-width: 992px) {
  .popular-products-column {
    flex: 50%;
  }
}
@media screen and (max-width: 600px) {
  .popular-products-row {
    flex-direction: column;
  }
}
/*

Do not write your code here or on this page
Instead Use the above mentioned scss pages

*//*# sourceMappingURL=styles.css.map */